version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:5000"
    volumes:
      # - ./database:/app/database
      - ./frontend/static/uploads:/app/frontend/static/uploads
    environment:
      - FLASK_ENV=development
    restart: always
